# 编辑器配置文件
.idea
# 流水线文件
/.workflow

# 第三方
vendor/

# 配置文件
app/etc/
app/*/tpl/*
app/*/node_modules/*

# 个人应用
/app/code/Aiweline/Bbs/
/app/code/Aiweline/NewsSource/

# 安装锁文件
setup/install.lock

# 系统自动生成，无需提交
pub/static/
/var
/generated
.user.ini
.phpunit.result.cache
.php_cs.cache
composer.lock
