<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <!--顶层：系统-->
    <add source="Weline_Backend::system_menu" name="system_menu" title="系统" action="" parent="" icon="" order="0"/>
    <add source="Weline_Backend::system_dashboard" name="system_dashboard" title="面板" action="/"
         parent="Weline_Backend::system_menu" icon="mdi mdi-desktop-mac-dashboard" order="1"/>
    <!--菜单管理-->
    <add source="Weline_Backend::system_menus" name="system_menus" title="菜单管理" action="/menus"
         parent="Weline_Backend::system_menu" icon="ri-menu-line" order="100"/>
    <!--内容管理-->
    <add source="Weline_Backend::system_cms" name="system_cms" title="内容管理" action="/cms"
         parent="Weline_Backend::system_menu" icon="ri-edit-box-line" order="200"/>

    <!--顶层：系统配置-->
    <add source="Weline_Backend::system_configuration" name="system_configuration" title="系统配置" action="" parent=""
         icon="" order="10000"/>
    <!--事件管理-->
    <add source="Weline_Backend::system_events" name="system_events" title="事件管理" action="/events"
         parent="Weline_Backend::system_configuration" icon="ri-spy-fill" order="10100"/>
    <!--插件管理-->
    <add source="Weline_Backend::system_plugins" name="system_plugins" title="插件管理" action="/plugins"
         parent="Weline_Backend::system_configuration" icon="ri-plug-2-line" order="10200"/>
    <!--模组管理-->
    <add source="Weline_Backend::system_modules" name="system_modules" title="模组管理" action="/modules"
         parent="Weline_Backend::system_configuration" icon="ri-sound-module-line" order="10300"/>
</menus>