<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <!--模组管理-->
    <add source="Weline_ModuleManager::module-manager" name="module-manager" title="模组管理" action="module-manager/backend/listing"
         parent="Weline_Backend::system_configuration" icon="ri-sound-module-line" order="20001" is_backend="1"/>
</menus>