@import url("http://at.alicdn.com/t/font_768030_fzvpgls89y6.css");
.icon-v1{
    color:;
}
.icon-v2{
    color:;
}
.icon-v3{
    color:;
}
.icon-v4{
    color:;
}
.icon-v5{
    color:;
}
.icon-v6{
    color:;
}
.icon-v101{
    color:;
}
.icon-v102{
    color:;
}
.icon-v103{
    color:;
}
.icon-v104{
    color:;
}
.icon-v105{
    color:;
}
.icon-v106{
    color:;
}