<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <add source="Weline_Admin::menu_manager" name="menu_manager" title="菜单管理" action="admin/menus/listing"
         parent="Weline_Admin::menu_manager"/>
    <add source="Weline_Admin::menu_listing" name="menu_listing" title="菜单列表" action="admin/menus/listing"
         parent="Weline_Admin::menu_manager"/>
</menus>