<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    <!--开发工具-->
    <add source="Weline_Frontend::system_frontend" name="system_frontend" title="前端模板库" action="frontend" is_backend="1"
         parent="Weline_Backend::system_dev_configuration" icon="mdi mdi-view-module" order="20001"/>
</menus>
