<?xml version="1.0"?>
<config xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
        xs:noNamespaceSchemaLocation="urn:Weline_Framework::Plugin/etc/xsd/plugin.xsd"
        xmlns="urn:Weline_Framework::Plugin/etc/xsd/plugin.xsd">
    <!--    <plugin name="Framework_Router::core_init" class="Weline\Framework\Router\Core">-->
    <!--        <interceptor name="Weline_Maintenance::router_core_init" instance="Weline\Maintenance\Plugin\Init" disabled="false" sort="2"/>-->
    <!--    </plugin>-->
    <plugin name="Framework_Router::start" class="Weline\Framework\Router\Core">
        <interceptor name="Weline_Maintenance::router_start" instance="Weline\Maintenance\Plugin\Init" disabled="false" sort="2"/>
    </plugin>
</config>